<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center mb-5 ">Bem vindos ao Álbum do ano</h1>
        </div>

        <div class="d-flex justify-content-center mb-5">
            <img class="img-fluid" [src]=myimage1>
        </div>


        <div class="row">
            <div class="col-md-12 mb-5">
                <p class="text-center">
                    O Album of the year é um site que tem como untuíto a avaliação dos principais e melhores álbuns dos
                    últimos anos, para a sua diversão e também para conhecer novos artistas e álbuns. Um lugar para se
                    divetir, conhecer outras opiniões e mostra a sua.
                </p>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" [src]=melodrama>
                    <div class="card-body">
                        <h5 class="card-title text-center">Melodrama</h5>
                        <p class="card-text">Segundo álbum da cantora, Lorde, melodrama além de ser considerado um dos
                            melhores
                            álbuns mainstream dos últimos anos, retrata a forma que os jovens conseguem lidam com o
                            término de um amor. </p>

                        <a href="https://open.spotify.com/album/2B87zXm9bOWvAJdkJBTpzF?si=dRwc8YohRB-1Cpswey2oGQ"
                            class="btn btn-dark d-flex justify-content-center" target="_blank">Ouça</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" [src]=pimpButterfly alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">To pimp a butterfly</h5>
                        <p class="card-text">Terceito álbum de estúdio do rapper estadunidense, Kendrick Lamar, foi
                            muito bem recebido pela crítica especializada, especialmente por tratar da
                            resistência que a comunidade preta enfrenta todos os dias </p>


                        <a href="https://open.spotify.com/album/7ycBtnsMtyVbbwTfJwRjSP?si=rTVlFrWhQLCEgpbM2PE_eA"
                            class="btn btn-dark d-flex justify-content-center" target="_blank">Ouça</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" [src]="lemonade" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Lemonade</h5>
                        <p class="card-text"> Lançado em 2016, o sexto álbum de estúdio da lendária Beyoncé, lemonade,
                            fala
                            principalmente sobre a traição
                            do seu marido e do orgulho de ser um mulher preta e sempre exaltar as duas raízess</p>
                        <a href="https://open.spotify.com/album/7dK54iZuOxXFarGhXwEXfF?si=JrmKx9sHT06QSk9U8NiY5Q"
                            class="btn btn-dark d-flex justify-content-center" target="_blank">Ouça</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" [src]="mbdtf" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">My beautiful dark twisted fantasy</h5>
                        <p class="card-text">Trabalho mais aclamado de sua discografia. Lançado no ano de 2010, My
                            beautiful, trouxe produções impecáveis em um álbum coeso, com um vídeo de
                            30 minutos da faixa Runaway</p>
                        <a href="https://open.spotify.com/album/20r762YmB5HeofjMCiPMLv?si=9mdDviVMQcaFpnKTOHq0KQ"
                            class="btn btn-dark d-flex justify-content-center" target="_blank">Ouça</a>
                    </div>
                </div>
            </div>

        </div>

    </div>





</div>